doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
     center
      h1 Sell-Your-Car
      table(id='t1' cellspacing="9px" cellpadding='5px')
        tr
          td 
            a(href='#') Home
          td 
            a(href='#') About Us
          td 
            a(href='#') Login
    block content
    block script